/* 1. Define a animação das cores */
@keyframes luzesColoridas {
  0% { background-color: #adfcff; }
  25% { background-color: #5fb5b8; }
  50% { background-color: #347b7e; }
  75% { background-color: #5fb5b8; }
  100% { background-color: #adfcff; }
}

/* 2. Centraliza tudo */
body {
  height: 100vh;
  margin: 0;

  /* FLEXBOX */
  display: flex;
  flex-direction: column;

  /* Centralização horizontal */
  align-items: center;

  /* Centralização vertical */
  justify-content: center;

  animation: luzesColoridas 10s infinite alternate;
  transition: background-color 0.5s ease;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 60px;
  color: #333;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 36px;
  color: #333;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 15px 25px;
}